.cardPublicate{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:1023px) {
    .deckstopSpan,.rating   {
        display: none;
    }
}
