.headerCard{    
    display: flex;
    align-items:flex-start;
    flex-direction: column-reverse;
    width: 100%;
    flex:1;
}

.viewed{
    display:flex;
    align-items:center;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}
.viewed svg{
    margin-right: 5px;
}
h4{
    margin-bottom: 10px;

}
h4:hover{
    color:#999999;
    cursor: pointer;
}
@media (max-width:1024px) {
    .headerCard{
        flex-direction: column;
    }
    .comments{
        display: none;
    }
}